
 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-transform: uppercase;
} 

body{
    font-family:'Lato', sans-serif ;
    font-weight: 400;
    font-size: 16px;
    color: rgb(15, 9, 9);
    /* padding: 30px; */
}
/* Header */

.container{
    height:100vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(23, 6, 88, 0.137), 
        rgba(6, 14, 83, 0.534)),
         url(/img/imgg1.jpg);
    background-size:cover;
    background-position:top;
    position: relative;
    /* clip-path:  polygon(0 0 ,100% 0 ,100% 80% ,0 100%); */
}
.fa{
    position: absolute;
    top: 2px;
    left: 82px;
    color: lightslategrey
}
.navbar-elements{
  background-color: rgba(2, 15, 2, 0.2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: flex-end;
  
}
.link{
    padding: 8px 31px;
    margin: 7px;
    border-radius: 20px;
    
    
}
.link:hover{
    color: white;
    background-color: rgba(207, 77, 25, 0.966);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,2);

}
.link:active{
    transform: translateY(-1px);
    }
a{
    text-decoration: none;
    color:cornsilk;
}
.btn{
    padding: auto;
}
.search{
    border-radius: 19px;
    padding: 13px 34px;
}
.searchh{
    padding: 1px 20px;
    margin: -16px;
    width: 166px;
    height: 34px;
    border-radius: 19px;
}

/* section part */

.headings{
    font-family: 'Pangolin', cursive;
    width:50%;
    height: 50%;
    margin: 168px 410px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
     justify-content: center;

}

.main-heading{
    font-size: 60px;
    text-align: center;
    font-size: 55px;
    font-weight: 370;
    padding: 9px 20px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{ 
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    /* 60% {
           transform: rotate(120deg);
    } */

    80% {
    transform: translate(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.sub-heading{
    text-align: center;
    font-size: 35px;
    font-weight: 370;
    padding: 7px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

@keyframes moveInRight{
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
    transform: translate(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.heading-btn{
    text-align: center;
   padding: 12px 31px;
}

.btn1{
    background-color: rgb(226, 38, 13);
    border: 2px solid black;
    padding: 7px 24px;
    border-radius: 19px;
    animation: moveInButton .5s ease-out .7s;
    animation-fill-mode: backwards;
}
.btn1:hover{
    color: white;
    font-weight: 500;
    background-color: rgb(16, 169, 240);
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,2);

}
.btn1:active{
    transform: translateY(-1px);
    }

 @keyframes moveInButton{
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }    

   /* Anime section */
   
   .another-section{
       /* border: 2px solid white; */
       background-image:  linear-gradient(
        to right bottom, 
        rgba(62, 197, 35, 0.301), 
        rgba(212, 89, 17, 0.534)),
        url(/img/imgg5.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       /* color: white; */
       font-weight: 400;
       padding: 68px 44px;
       /* margin: 23px; */
       width: 100%;
       height: 200%;
       clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
   }
   .second-heading{
    /* border: 2px solid white; */
    font-family:'Lato', sans-serif ; ;
    padding: 30px 20px; 
    text-align: center;
    font-size: 40px;

   }

   .list{
    /* border: 2px solid white; */
    padding: 20px 20px;
   }

   .anime-section{
    /* border: 2px solid white; */
    display: flex;
    padding: 32px 44px;
    
    }
    
    .boxes{
      /* border: 4px solid white; */
      padding:28px 50px ;
      
    }

    .anime-title{
        /* border: 2px solid white;   */
        padding: 17px 14px;
        text-align: center;
        text-decoration: underline;
    }

    .anime-title:hover{
        color: white;
    }

    .box1{
        border: 2px solid white;
        border-radius: 10px;
        font-size: larger;
        /* background-image: url(/img/img2.jpg);
        background-size: cover; */
        padding: 40px 20px;
        width: 250px;
         height: 263px;

    }
    
    .naruto{
     background-image: url(/img/img3.png);
     background-size: cover;
     background-position:center ;
     box-shadow: -10px  -12px 4px black;
    }

    .clover{
        background-image: url(/img/img5.png);
        background-size: cover;
        background-position:center ;
        box-shadow: -10px  -12px 4px black;
    }

    .your-name{
        color: black;
        background-image: url(/img/img6.jpg);
        background-size: cover;
        background-position:center ;
        box-shadow: -10px  -12px 4px black;
    }

    .bleach{
        background-image: url(/img/imgg3.jpg);
        background-size: cover;
        background-position:center ;
        box-shadow: -10px  -12px 4px black;
    }

    .watch{
        /* border: 2px solid black; */
        text-align: center;
        padding: 7px 16px;
    }
    .btn2{
        background-color: darkorange;
        color:white;
        font-weight: 400;
        padding: 20px 20px;
        padding: 7px 9px;
        border-radius: 7px;
    }
    .btn2:hover{
        color: white;
        font-weight: 500;
        background-color: rgb(16, 169, 240);
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0,0,0,2);
    
    }
    .btn2:active{
        transform: translateY(-1px);
        }
    

    /* IMAGE SECTION */

    .image-section{
        /* border: 10px solid white; */
        background-color:rgba(15, 3, 11, 0.644);
        /* padding: 30px 30px; */
    }
     
    .head-part{
        /* border: 2px solid black; */
        padding: 23px 33px;
        text-align: left;
        text-decoration: underline;
        font-size: 67px;
        color: rgb(1, 13, 14);

    }

    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* border: 2px solid black; */
        padding: 20px 20px;
        /* justify-content: space-between; */
    }
    
    .img{
        /* border: 2px solid white; */
        color: white;
        padding: 113px 30px;
        background-image: url(/img/imgg2.jpg);
        background-position: center;
        background-size: cover;
        /* width: 463px;
        height: 275px; */
    }

    .img:first-child{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        
    }
    

    .first{
        background-image: url(/img/img1.jpg);
        background-position: center;
        background-size: cover;
    }

    .second{
        background-image: url(/img/img2.jpg);
        background-position: center;
        background-size: cover;
    }

    .third{
        background-image: url(/img/img4.jpg);
        background-position: center;
        background-size: cover;
    }

    .fourth{
        background-image: url(/img/imgg3.jpg);
        background-position: center;
        background-size: cover;
    }

    .six{
        background-image: url(/img/imgg5.jpg);
        background-position: center;
        background-size: cover;
    }

    .seven{
            background-image: url(/img/img6.jpg);
            background-position: center;
            background-size: cover;
        
    }

    .eight{
        background-image: url(/img/imgg4.jpg);
        background-position: center;
        background-size: cover;
    }

    

    /* last section*/

    .last-section{
        /* border: 2px solid black; */
        padding: 20px 20px;
        background-image: url(/img/img3.png);
        background-position: center;
        background-size: cover;
        opacity: 0.89;
        color: white;
        /* clip-path:  polygon(0 0 ,100% 0 ,100% 80% ,0 100%); */
    }

    .aboutme{
        /* border: 2px solid black; */
        padding: 20px 20px;
        color: white;
        font-weight: 700;
        font-size: 28px;
    }

    .content{
        /* border: 2px solid black; */
        display: flex;
        padding: 30px 30px;
        /* justify-content: space-between; */
    }

    .content-1{
        /* border: 2px solid black; */
        /* display: flex; */
        padding: 30px 30px;

    }

    .cont-head{
        padding: 10px 12px;
        color: white;
        font-weight: 700;
        font-size: 24px;
        font-style: oblique;

    }
    
    .cont-content{
        padding: 10px 12px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        font-style: oblique;
    }


    .myphoto{
        background-image: 
        url(/img/img6.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 23px;
        /* border:2px solid rgb(26, 23, 23); */
        width: 276px;
        height: 438px;
        padding: 21px 171px
    }

    /* footer */

.last{
    background-color: black;
    border: 2px solid black;
    padding: 20px 23px ;
    color: white;
    font-size: larger;
    font-weight: 600;
}

.inside-footer{
    display: flex;
    padding: 20px 20px;
    border: 2px solid black;
    justify-content: center;
}

.address{
    border: 2px solid black;
    padding: 20px 23px;
}

.numb{
    border: 2px solid black;
    padding: 20px 23px;
}

.thanks{
    border: 2px solid black;
    padding: 20px 23px;
    text-align:center ;
}